.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  background-color: #f66c59 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: transparent !important;
}

button#simple-tab-0 {
  border-radius: 40px 0px 0px 40px;
  width: 33.3%;
}

button#simple-tab-1 {
  width: 33.3%;
}

button#simple-tab-2 {
  border-radius: 0px 40px 40px 0px;
  width: 33.3%;
}

.MuiBox-root.css-dyrtm4 {
  width: 100%;
}

/* Custom scrollbar */
/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #f66c59;
  border-radius: 6px;
}

/* For Firefox */
* {
  scrollbar-color: #f66c59 #fff9f7;
}

*::-webkit-scrollbar-track {
  background-color: #fff9f7;
}

*::-webkit-scrollbar-thumb {
  background-color: #f66c59;
  border-radius: 6px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

img.absolute.bottom-0.shadow-2xl.w-1\/2.h-1\/2.flex.justify-center.items-center {
  width: 50%;
  height: 50%;
}

span.swiper-pagination-bullet {
  background-color: #f66c59;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #f66c59 !important;
  border-style: dotted !important;
}

/* .MuiOutlinedInput-root .Mui-focused fieldset {
  border-color: #f66c59;
} */

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border-color: #f66c59 !important;
}

.MuiBox-root.css-fr8qa9.Mui-focused {
  border: 1px solid #f66c59 !important;
  border-radius: 4px !important; /* Optional: Add border-radius for rounded corners */
}

.MuiTextField-root
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #f66c59 !important;
}

/* Change label color on focus */
.MuiTextField-root .MuiFormLabel-root.Mui-focused {
  color: #f66c59 !important;
}

textarea:focus {
  letter-spacing: inherit;
  /* padding: 4px 0 5px; */
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  padding-right: 0;
  outline: none !important;
  border: 1px solid #f66c59;
  box-sizing: border-box;
}

textarea:focus && svg.absolute.right-5.top-5 {
  display: none;
}

textarea {
  padding: 16.5px 14px !important;
}

.bm-burger-button {
  position: fixed;
  right: 10%;
  top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 0%;
  border-radius: 50%;
  width: 24px; /* Adjust as needed */
  height: 24px; /* Adjust as needed */
  border-radius: 9999px;
  padding: 5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  /* background: #373a47; */
  background: #2049ff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f66c59;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 20px;
  width: 20px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #fff9f7;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  /* fill: #373a47; */
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

@media (min-width: 639px) {
  .bm-burger-button {
    display: none;
  }
}

.bm-menu-wrap.bg-hamburger {
  height: 100vh;
}

@media (max-width: 639px) {
  .w-full.sm\:w-1\/2.flex.gap-5.flex-col.mt-\[5\%\].sm\:mt-\[0\%\] {
    margin-right: 0% !important;
  }
}
.w-full.sm\:w-1\/2.flex.gap-5.flex-col.mt-\[5\%\].sm\:mt-\[0\%\] {
  margin-right: 10%;
}
@media (max-width: 639px) {
  .ml-\[10\%\].sm\:ml-\[0\%\] {
    margin-right: 10% !important;
  }
  .w-full.sm\:w-1\/2.flex.justify-center.items-start.mt-\[25\%\].sm\:mt-\[12\%\].mr-\[0\%\].sm\:mr-\[10\%\] {
    margin-top: 0%;
  }
}

html {
  overflow-x: hidden;
}

.MuiFormLabel-root {
  color: #9ca398 !important;
}

.dark .MuiInputBase-input {
  color: #fff6f2 !important;
}

@media (max-width: 1000px) {
  .sm\:w-1\/2 {
    width: 100% !important;
  }

  section.hidden.sm\:flex.w-1\/2.mt-\[12\%\].sm\:justify-end {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .border.border-gray.p-4.flex.justify-center.items-center.mt-14.sm\:mt-0.bg-darkGray.dark\:bg-darkGrayMode.rounded-2xl,
  .border.border-gray.p-4.flex.justify-center.items-center.relative.rounded-2xl {
    margin-bottom: 8%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 770px) {
  .border.border-gray.p-4.flex.justify-center.items-center.mt-14.sm\:mt-0.bg-darkGray.dark\:bg-darkGrayMode.rounded-2xl,
  .border.border-gray.p-4.flex.justify-center.items-center.relative.rounded-2xl {
    margin-bottom: 8%;
  }
}

@media (max-width: 999px) {
  .swiper {
    height: 420px;
  }
  .flex.flex-col.sm\:flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 998px) and (max-width: 1225px) {
  h2.text-3xl.font-bold.sm\:whitespace-nowrap {
    font-size: x-large;
  }
}

button.bg-mainOrange.text-lightBg.mt-5.gap-1.mb-5.rounded-full.p-3 {
  margin-block-start: auto;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: -3px;
}

.Mui-selected {
  color: #f66c59 !important;
}

.css-ttwr4n {
  position: absolute;
  height: 2px;
  bottom: 0px;
  width: 100%;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #f66c59 !important;
}

.w-full.flex.justify-center.flex-col.sm\:w-1\/2.ml-\[0\%\].sm\:ml-\[10\%\] {
  width: 50% !important;
}

.bm-menu-wrap.bg-hamburger {
  position: fixed;
  top: 0px;
}

.MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  background-color: #f66c59 !important;
}
