.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  background-color: #f66c59 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: transparent !important;
}

button#simple-tab-0 {
  border-radius: 40px 0px 0px 40px;
  width: 33.3%;
}

button#simple-tab-1 {
  width: 33.3%;
}

button#simple-tab-2 {
  border-radius: 0px 40px 40px 0px;
  width: 33.3%;
}

.MuiBox-root.css-dyrtm4 {
  width: 60%;
}
